/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
package correos.acropolis.utils;

/**
 *
 * @author mauriballes
 */
public class Database {
    // Constantes de la BAse de Datos
    public static final String DB_HOST = "YOUR_HOST";
    public static final String DB_USER = "YOUR_USER";
    public static final String DB_PASSWORD = "YOUR_PASSWORD";
    public static final String DB_NAME = "YOUR_DATABASE";
}
